/* button.css */
.button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--background-color);
	text-shadow: 2px 2px var(--neutral-color);
}
  
.button.secondary {
	background-color: var(--background-color);
	/* A cor do texto pode ser definida aqui se for diferente da cor padrão */
}

.button:hover {
	text-shadow: none;
	color: var(--text-color);
  border-color: var(--text-color);
  background-color: var(--primary-color); /* Adiciona uma cor de fundo ao passar o mouse */
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
