.container-sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh; /* Ajusta a altura para cobrir a viewport */
	background-color: var(--neutral-color);
}
}
  
.hero-sign-in {
	width: 100%;
.hero-sign-in {
	display: flex;
	background-image: url("/src/assets/pictures/background-rotaverde.jpg");
	background-size: cover;
	background-position: 0%;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.h1-sign-in {
	text-align: center;
	color: var(--text-color);
}

.logotipo-sign-in{
	display: flex;
	height: 40vh;
}

.h2-sign-in {
	display: flex;
	color: var(--secondary-color);
	color: var(--secondary-color);
	text-transform: uppercase;
	text-align: center;
}

.error-message {
	color: red;
	font-size: 0.875rem;
	margin-top: 0.25rem;
}
  

.error-message {
	color: red;
	font-size: 0.875rem;
	margin-top: 0.25rem;
}

.input-sign-in{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.content-sign-in {					
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	max-width: 400px;
	width: 100%;
	background: var(--background-color);
	padding: 0 24px 0 24px;
	box-shadow: 6px 0 4px 0 var(--secondary-color) inset;
	border-radius: 8px; /* Adiciona bordas arredondadas para o container */
}

.text-animated {
    background: transparent;
	font-size: 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated {
    position: relative;
    font-family: sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--text-color));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4.20s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate {
    0% {background-position: -500%;}
    100% {background-position: 500%;}
}