:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --primary-color: #72B01D;
  --secondary-color: #3F7D20;
  --neutral-color: #454955;
  --background-color: #F3EFF5;
  --text-color: #0D0A0B;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100vw;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
